In [152]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from category_encoders.cat_boost import CatBoostEncoder
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
from feature_engine.creation import CyclicalTransformer
from sklearn.model_selection import GridSearchCV
import missingno as msno
from sktime.utils.plotting import plot_series
from IPython.display import display_html
from itertools import chain,cycle
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from impyute.imputation.cs import mice
import statsmodels.tsa.api as tsa
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.pipeline import make_pipeline
import xgboost
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, Normalizer

In [260]:
train = pd.read_csv('train.csv', index_col = 'date')
test = pd.read_csv('test.csv', index_col = 'date')

In [261]:
def set_first(df):
    df.reset_index(inplace = True)
    df['date'] = df['date'].astype({'date': 'datetime64[ns]'})
    return df
                                  
def create_date_features(df):
    df['month'] = df.date.dt.month.astype("int8")
    df['day_of_month'] = df.date.dt.day.astype("int8")
    df['day_of_year'] = df.date.dt.dayofyear.astype("int16")
    df['week_of_month'] = (df.date.apply(lambda d: (d.day-1) // 7 + 1)).astype("int8")
    df['week_of_year'] = (df.date.dt.weekofyear).astype("int8")
    df['day_of_week'] = (df.date.dt.dayofweek + 1).astype("int8")
    df['year'] = df.date.dt.year.astype("int32")
    df["is_wknd"] = (df.date.dt.weekday // 4).astype("int8")
    df["quarter"] = df.date.dt.quarter.astype("int8")
    df['is_month_start'] = df.date.dt.is_month_start.astype("int8")
    df['is_month_end'] = df.date.dt.is_month_end.astype("int8")
    df['is_quarter_start'] = df.date.dt.is_quarter_start.astype("int8")
    df['is_quarter_end'] = df.date.dt.is_quarter_end.astype("int8")
    df['is_year_start'] = df.date.dt.is_year_start.astype("int8")
    df['is_year_end'] = df.date.dt.is_year_end.astype("int8")
    # 0: Winter - 1: Spring - 2: Summer - 3: Fall
    df["season"] = np.where(df.month.isin([12,1,2]), 0, 1)
    df["season"] = np.where(df.month.isin([6,7,8]), 2, df["season"])
    df["season"] = pd.Series(np.where(df.month.isin([9, 10, 11]), 3, df["season"])).astype("int8")
    return df

def discomport_idx(df): 
    df['humidity'] = df['humidity'] / 100 
    df['discomfort'] = ((9/5) * df['temp_mean']) - 0.55 * (1 - df['humidity']) * (((9/5) * df['temp_mean']) - 26) + 32 
    df['discomfort'] = round(df['discomfort'],1)
    return df

def drop_col(df):
    df.drop(columns =['sunshine_rate','wind_max','temp_mean','temp_lowest','PM10','day_of_year','month','is_wknd','quarter'], inplace = True)
    return df

def mkcol(df):
    df = create_date_features(df)
    df = discomport_idx(df)
    drop_col(df)
    return df

In [262]:
train = set_first(train)
train = mkcol(train)
train

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # This is added back by InteractiveShellApp.init_path()

,date,precipitation,temp_highest,PM2.5,humidity,sunshine_sum,wind_mean,rental,day_of_month,week_of_month,...,day_of_week,year,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,season,discomfort
0,2018-01-01,NaN,3.8,17.0,0.391,8.3,1.4,4950,1,1,...,1,2018,1,0,1,0,1,0,0,39.2
1,2018-01-02,NaN,1.8,22.0,0.420,7.9,1.8,7136,2,1,...,2,2018,0,0,0,0,0,0,0,38.1
2,2018-01-03,NaN,-0.4,19.0,0.423,8.6,2.2,7156,3,1,...,3,2018,0,0,0,0,0,0,0,34.5
3,2018-01-04,NaN,-0.7,24.0,0.430,6.2,1.4,7102,4,1,...,4,2018,0,0,0,0,0,0,0,34.3
4,2018-01-05,NaN,1.6,35.0,0.484,8.2,1.7,7705,5,1,...,5,2018,0,0,0,0,0,0,0,35.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2020-12-27,0.0,10.0,42.0,0.629,5.9,1.8,37103,27,4,...,7,2020,0,0,0,0,0,0,0,45.6
1091,2020-12-28,1.3,11.4,44.0,0.721,8.0,1.4,46912,28,4,...,1,2020,0,0,0,0,0,0,0,46.2
1092,2020-12-29,0.2,4.3,46.0,0.708,0.0,2.9,35747,29,5,...,2,2020,0,0,0,0,0,0,0,36.3
1093,2020-12-30,NaN,-6.2,15.0,0.555,8.3,4.1,22488,30,5,...,3,2020,0,0,0,0,0,0,0,23.5
1094,2020-12-31,0.0,-5.0,12.0,0.539,6.0,2.4,24535,31,5,...,4,2020,0,1,0,1,0,1,0,26.6

In [263]:
test = set_first(test)
test = mkcol(test)
test

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # This is added back by InteractiveShellApp.init_path()

,date,precipitation,temp_highest,PM2.5,humidity,sunshine_sum,wind_mean,day_of_month,week_of_month,week_of_year,day_of_week,year,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,season,discomfort
0,2021-01-01,NaN,1.6,17.0,0.640,6.5,2.0,1,1,53,5,2021,1,0,1,0,1,0,0,31.1
1,2021-01-02,NaN,-1.4,12.0,0.385,9.0,2.6,2,1,53,6,2021,0,0,0,0,0,0,0,34.8
2,2021-01-03,NaN,-2.0,14.0,0.450,5.5,2.0,3,1,53,7,2021,0,0,0,0,0,0,0,32.8
3,2021-01-04,0.0,0.3,23.0,0.514,4.6,1.7,4,1,1,1,2021,0,0,0,0,0,0,0,34.3
4,2021-01-05,0.0,-2.1,17.0,0.528,8.6,2.9,5,1,1,2,2021,0,0,0,0,0,0,0,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,0.0,-3.9,20.0,0.609,3.8,1.7,27,4,52,1,2021,0,0,0,0,0,0,0,26.9
361,2021-12-28,NaN,-0.9,38.0,0.738,1.7,2.2,28,4,52,2,2021,0,0,0,0,0,0,0,29.4
362,2021-12-29,0.2,5.9,49.0,0.729,1.8,2.6,29,5,52,3,2021,0,0,0,0,0,0,0,36.5
363,2021-12-30,0.0,0.2,17.0,0.485,7.3,3.3,30,5,52,4,2021,0,0,0,0,0,0,0,34.3
364,2021-12-31,NaN,-3.9,7.0,0.359,9.0,3.5,31,5,52,5,2021,0,1,0,1,0,1,0,33.4

In [264]:
target = 'rental'
features = train.columns.drop(target)

In [265]:
X_train = train[features]

In [266]:
X_train.drop(columns ='date',inplace = True)

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [267]:
X_train['precipitation'] =X_train['precipitation'].fillna(0)

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [268]:
X_train['sunshine_sum'] = X_train['sunshine_sum'].fillna(0)

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [269]:
X_train['PM2.5'] = X_train['PM2.5'].fillna(X_train['PM2.5'].mean())

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [270]:
y_train = train[target]

# Modeling

In [271]:
boosting = XGBRegressor()

dists = {'n_estimators' : [500,800,1000], 'eta' : [0.1,0.15,0.25,0.35], 'min_child_weight' : np.arange(1, 8, 3), 'max_depth' : np.arange(3,9,3) , 'colsample_bytree' :np.arange(0.5, 1.0, 0.2), 'subsample' :np.arange(0.5, 1.0, 0.2) }

clf =RandomizedSearchCV( estimator = boosting, param_distributions = dists, refit=True, cv=5, n_iter=50,scoring='neg_mean_absolute_error', verbose=1, n_jobs=-1 )

clf.fit(X_train, y_train);

Fitting 5 folds for each of 50 candidates, totalling 250 fits

In [272]:
print('최적 파라미터: ',clf.best_params_)

최적 파라미터:  {'subsample': 0.5, 'n_estimators': 1000, 'min_child_weight': 7, 'max_depth': 3, 'eta': 0.15, 'colsample_bytree': 0.5}

In [273]:
clf.best_score_

-7475.1020820373815

In [274]:
model_xg = clf.best_estimator_

In [275]:
len(X_train.columns)

19

In [276]:
test.drop(columns='date',inplace = True)

In [288]:
y_pred = model_xg.predict(test)

In [289]:
y_pred

array([ 33558.9   ,  25161.764 ,  23127.807 ,  22959.246 ,  24017.996 ,
        16173.679 ,  12312.804 ,  21669.479 ,  18601.295 ,  17361.49  ,
        23643.857 ,   8411.149 ,  27121.617 ,  31596.68  ,  23116.463 ,
        18749.441 ,  17213.154 ,  18081.035 ,  20506.51  ,  32282.414 ,
        17387.45  ,  21774.113 ,  24755.383 ,  35985.023 ,  38299.64  ,
         8928.093 ,  32027.2   ,   8138.015 ,  22779.344 ,  22435.295 ,
        26075.193 ,  19865.645 ,  18814.898 ,  23544.967 ,  13854.764 ,
        21028.145 ,  21586.566 ,  23455.498 ,  23217.303 ,  25953.947 ,
        25483.16  ,  34867.426 ,  38286.234 ,  39387.16  ,  38276.094 ,
        13324.145 ,  13542.779 ,  15590.576 ,  17987.059 ,  31299.52  ,
        44900.938 ,  48289.957 ,  37236.44  ,  28691.496 ,  37082.527 ,
        30524.088 ,  53421.953 ,  55267.566 ,  30377.152 ,  16574.436 ,
        24353.904 ,  39605.28  ,  44234.06  ,  48933.902 ,  35918.7   ,
        36082.06  ,  48093.934 ,  47654.6   ,  49481.363 ,  52079.27  ,
        51798.35  ,  47846.23  ,  40522.34  ,  36349.832 ,  49185.438 ,
        59176.09  ,  60055.91  ,  70444.62  ,  17035.791 ,  18643.393 ,
        49315.42  ,  62441.895 ,  61161.746 ,  66028.47  ,  57896.82  ,
        16344.108 ,  22888.773 ,  53896.973 ,  69680.23  ,  77020.23  ,
        79336.5   ,  80744.484 ,  18830.096 ,  57685.688 ,  75554.4   ,
        79001.766 ,  77211.94  ,  78085.25  ,  80957.77  ,  76979.9   ,
        77856.3   ,  28230.922 ,  40217.367 ,  66033.11  ,  77707.82  ,
        57972.715 ,  61771.26  ,  72598.98  ,  81653.52  ,  80190.34  ,
        86530.04  ,  83995.766 ,  79622.22  ,  83405.1   ,  88949.17  ,
        83185.91  ,  70240.8   ,  66297.49  ,  71534.62  ,  29491.594 ,
        37480.88  ,  76668.484 ,  86954.89  ,  30023.24  ,  83949.13  ,
        86615.95  ,  56171.21  ,  79100.77  ,  90809.57  ,  69953.89  ,
        96571.21  ,  98862.016 ,  95877.75  ,  94890.43  ,  52787.797 ,
        17050.238 ,  40902.62  ,  92750.375 ,  95494.53  ,  72556.99  ,
        59138.543 ,  93460.28  ,  89152.19  ,  95824.81  ,  65576.02  ,
        93430.4   ,  53920.55  ,  62785.46  ,  73307.414 ,  74450.44  ,
        77826.48  ,  76198.66  , 101511.31  ,  44210.832 , 101617.99  ,
       110112.66  , 100804.22  , 100708.98  , 100803.64  ,  95813.06  ,
        73271.37  ,  82564.01  ,  99390.32  ,  98036.31  , 104414.82  ,
        82537.76  , 104625.414 , 104336.125 ,  43423.484 , 103060.2   ,
       101912.54  , 112008.77  , 105996.84  ,  78804.695 , 112434.24  ,
       107182.23  ,  81734.77  ,  76010.586 ,  94844.734 ,  80815.17  ,
        70753.89  , 104813.555 ,  96291.766 ,  59798.836 ,  11727.263 ,
        98817.14  , 100201.18  ,  55911.44  ,  76164.33  ,  99010.07  ,
        85754.445 ,  80413.1   ,  91889.336 ,  92670.77  ,  92107.26  ,
        90826.61  ,  88166.44  ,  81997.2   ,  80240.984 ,  70928.43  ,
        89456.19  ,  92220.305 ,  83563.54  ,  80925.21  ,  76690.234 ,
        77911.47  ,  85299.945 ,  78770.17  ,  86649.07  ,  92520.18  ,
        84826.78  ,  66988.61  ,  29064.666 ,  64115.2   ,  87896.266 ,
        90668.67  ,  85793.445 ,  88172.32  ,  83267.805 ,  46028.23  ,
        90082.055 ,  97677.305 ,  94627.96  ,  93803.59  , 100257.11  ,
        95788.18  ,  88158.23  , 102099.14  ,  77979.31  ,  81541.7   ,
        99220.93  , 101993.51  ,  58458.098 ,  90850.64  ,  51462.44  ,
        41748.547 ,  87973.19  ,  71871.29  ,  75801.83  , 102610.6   ,
        78216.586 , 101219.56  ,  26357.023 ,  80989.19  , 108403.76  ,
       104348.14  , 114400.695 , 103136.18  ,  68414.79  ,   7950.0806,
        90880.375 ,  97623.41  , 105219.33  , 102572.09  , 100872.34  ,
       101689.96  , 101090.586 ,  95994.08  , 110680.05  , 108623.42  ,
       104730.6   ,  97644.984 , 113631.87  ,  74603.66  ,  94467.06  ,
       110819.23  , 118139.87  ,  95548.56  , 107351.02  , 109805.29  ,
        91165.16  ,  32810.117 ,  98865.41  ,  80031.695 , 107936.055 ,
       103875.78  ,  73946.41  , 103547.14  ,  68031.56  ,  54536.855 ,
        50859.45  ,  92688.77  ,  35826.86  ,  79414.484 , 104544.086 ,
       112581.42  , 108080.16  , 102978.03  ,  85030.086 ,  66614.43  ,
        62480.77  ,  68699.43  ,  88900.14  ,  88547.4   ,  91141.09  ,
        88225.89  ,  82282.22  ,  91681.51  ,  95574.44  ,  99815.19  ,
        94711.484 , 102454.44  ,  89183.266 ,  73884.63  ,  92946.09  ,
        87906.25  ,  89993.66  ,  80946.58  ,  92975.94  ,  92228.984 ,
        89920.67  ,  37812.824 ,  41498.86  ,  45177.11  ,  66719.95  ,
        65684.164 ,  69541.35  ,  78353.35  ,  79285.86  ,  78193.54  ,
        71607.445 ,  79322.734 ,  89410.55  ,  72566.055 ,  40271.25  ,
        47450.676 ,  51475.305 ,  67767.02  ,  68929.85  ,  60122.926 ,
        59557.383 ,  53186.043 ,  63461.76  ,  24840.201 ,  35293.965 ,
        38723.15  ,  45541.93  ,  45390.008 ,  47083.2   ,  56076.316 ,
        57546.54  ,  61765.457 ,  55032.492 ,  38410.52  ,  44897.293 ,
        32544.3   ,  37377.797 ,  46112.285 ,  47409.05  ,  52711.934 ,
        27263.82  ,  21405.17  ,  31440.404 ,  49806.293 ,  52008.06  ,
        48188.176 ,  45606.07  ,  33931.938 ,  22063.191 ,  17463.61  ,
        29676.896 ,  25746.252 ,  32882.785 ,  27288.926 ,  28804.588 ],
      dtype=float32)

In [282]:
y_pred = np.round(y_pred)

In [283]:
y_pred = y_pred.astype(int)

In [284]:
sub = pd.read_csv('subm.csv', index_col = 'date')

In [285]:
sub

            rental
date
2021-01-01   34924
2021-01-02   32884
2021-01-03   26133
2021-01-04   24270
2021-01-05   26416
...            ...
2021-12-27   34172
2021-12-28   24031
2021-12-29   29257
2021-12-30   20882
2021-12-31   32485

[365 rows x 1 columns]

In [286]:
sub.rental = y_pred

In [287]:
sub

            rental
date
2021-01-01   33559
2021-01-02   25162
2021-01-03   23128
2021-01-04   22959
2021-01-05   24018
...            ...
2021-12-27   29677
2021-12-28   25746
2021-12-29   32883
2021-12-30   27289
2021-12-31   28805

[365 rows x 1 columns]

In [291]:
sub.to_csv('sub0630_last.csv')